body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "playfairDisplay", "sans-serif";
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url(/font/PlayfairDisplay-Regular.ttf);
}

.fondimage {
    position: relative;
    background-image: url(/image/image1.png);
    background-size: cover;
    width: 100%;
    height: 1195px;
    overflow: hidden;
    margin: auto;
    z-index: 0;
    top: 0;
    left: 0;
}

/*------------------------nav*/

.nav {
    display: flex;
    justify-content: space-between;
}

.parnav {
    margin-left: 250px;
    margin-top: 48px;
}

.parnav p {
    font-size: 36px;
}

.parnav p::after {
    position: relative;
    content: "\002022";
    font-size: 26px;
    color: #00c9e0;
    bottom: -5px;
}

span {
    color: #00c9e0;
    font-size: 50px;
}

.borddroit .loupe1 {
    position: absolute;
    height: 25px;
    width: 25px;
    border: 3px #fff solid;
    border-radius: 50%;
    top: 50%;
    left: -25%;
   
}
.borddroit .loupe2 {
    position: absolute;
    height: 3px;
    width: 20px;
   background-color: #fff;
    top: 70%;
    left: -19%;
    transform: rotate(45deg);
   
}
.borddroit {
    position: relative;
}

.barremenu {
    position: absolute;
    height: 2px;
    width: 30px;
    top: 66%;
    left: 36%;
    background-color: white;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 165px;
    background-color: #00c9e0;
    border-radius: 48px;
    margin-right: 265px;
    margin-top: 80px;
    font-size: 30px;
}

menu {
    
    padding: 0;
    margin-top: 21px;
}

menu:hover {
    color: #063e7e;
    cursor: grab;
}

.text {
    margin-top: 164px;
}

h1 {
    margin: auto;
    text-align: center;
    font-size: 120px;

}

h2 {
    text-align: center;
    font-size: 18px;

}

.paragraphe {
    display: flex;
    height: 50px;
    width: 500px;
    flex-direction: row;
    margin: auto;

}

.paragraphe p {
    text-align: center;
}

/* ----------------------------------lien*/

.lien {
    display: flex;
    position: relative;
    width: 90%;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 200px;

}

.scroll {
    position: absolute;
    left: 240px;
    transform: rotate(-90deg);
    font-style: italic;
    font-size: 15px;
}

.barreScroll {
    position: absolute;
    left: 260px;
    top: 50px;
    height: 80px;
    width: 2px;
    background-color: #00c9e0;
}

.facebook {
    width: 11px;
    height: 20px;
    margin-right: 19px;
}

.twitter {
    width: 22px;
    height: 18px;
    margin-top: 20px;
    margin-right: 14px;
}

.insta2 {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 14px;
}

.insta1 {
    position: absolute;
    width: 8px;
    height: 8px;
    right: 20px;
    margin-top: 26px;
}

.bagroundlinear {
    position: relative;
    width: 100%;
    height: 20%;
    bottom: -50px;
    background:
        linear-gradient(180deg, rgba(1, 22, 39, 0) 0%, #011627 76.64%, #011627 100%);
}

/*--------------------------2éme partie*/
.container2 {
    width: 100%;
    height: 100%;
    background: #011627;
    margin-top: 0;
}
.titrepartie2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}
.container2 h2 {
    font-weight: 700;
    font-size: 72px;
    margin-left: 11%;
}
.textpartie2 {
    width: 447px;
    height: 72px;
    margin-left: 22px;
    
}
.listepartie2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.listepartie2 div{
    width: 14%;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    border-bottom: 2px solid #15595e;
    padding-bottom: 32px;
}
div .liste1 {
    border-bottom: 3px solid #00c9e0;
    color: #00c9e0;
}
.container2 .dune{
    width: 491px;
    height: 633px;
    border-radius: 8px;
   
  }
.textCotéPhoto{
    display: block;
    position: relative;
    top: -620px;
    left: 883px;
    height: 300px;
    width: 581px;
    margin-left: 89px;
}
.textCotéPhoto .titreDune {
    margin-left: 0;
}
.imageDune {
    position: relative;
     width: 491px;
    height: 633px;
    margin-top: 180px;
    margin-left: 376px; 

}
.carre {
    position: relative;
    height: 65px;
    width: 65px;
    background-color: black;
   
}
.carre1 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.carre2 {
    position: absolute;
    bottom: 0;
    right: 66px;
    border-radius: 8px 0 0 0;
}
.imageDune .fleche-droite{
    position: absolute;
    top: 21px;
    left: 23px;
    height: 20px;
    width: 20px;
    border-top: 2px #fff solid;
    border-right: 2px #fff solid;
    transform: rotate(-135deg);
}
.imageDune .fleche-gauche{
    position: absolute;
    top: 21px;
    right: 23px;
    height: 20px;
    width: 20px;
    border-top: 2px #fff solid;
    border-right: 2px #fff solid;
    transform: rotate(45deg);
}
.imageDune .ligne{
    position: absolute;
    top: 31px;
    background-color: #fff;
    height: 2px;
    width: 25px;
}
.imageDune .ligne-gauche{
   right: 23px; 
}
.imageDune .ligne-droite{
    left: 23px; 
 }
 .offres {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 300px;
    background-color: #00c9e0;
    border-radius: 48px;
    margin-top: 10%;   
}
.offres .barreOffre{
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: #fff;
    right: 270px;
}